.container {
    width:100%;
    overflow:auto;
}
.table {    
    border-collapse: collapse;
    margin-top:40px;
}

.table th, .table td {
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
}

.table th {
    min-width:200px;
    background-color:var(--primary-color);
    color:#fff;
}

.table td a {
    color:var(--primary-color);
    font-weight:700;
}
.table td span {
    cursor:pointer;
    color:#ff0000;
    font-weight:700;
}

@media screen and (max-width:768px) {
    .table {
        margin-top:20px;
    }
    .table th {
        min-width: auto;
        white-space: nowrap;
        font-size:14px;
    }
    .table td {
        font-size:12px;
    }
}