.group {
    margin-bottom:20px;
}

.group .label {
    display:block;
    margin-bottom:10px;
}

.group .input {
    width:100%;
    padding:10px;
    border-radius:3px;
    border:1px solid #ddd;
}

.group .input:focus {
    outline-color:var(--primary-color);
}